/*Gradient-Background*/

body {
    overflow: hidden;
}

#background {
    background: rgba(62, 162, 189, 1);
    background: -moz-linear-gradient(top, rgba(62, 162, 189, 1) 0%, rgba(104, 203, 230, 1) 56%, rgba(169, 234, 252, 1) 82%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(62, 162, 189, 1)), color-stop(56%, rgba(104, 203, 230, 1)), color-stop(82%, rgba(169, 234, 252, 1)), color-stop(100%, rgba(255, 255, 255, 1)));
    background: -webkit-linear-gradient(top, rgba(62, 162, 189, 1) 0%, rgba(104, 203, 230, 1) 56%, rgba(169, 234, 252, 1) 82%, rgba(255, 255, 255, 1) 100%);
    background: -o-linear-gradient(top, rgba(62, 162, 189, 1) 0%, rgba(104, 203, 230, 1) 56%, rgba(169, 234, 252, 1) 82%, rgba(255, 255, 255, 1) 100%);
    background: -ms-linear-gradient(top, rgba(62, 162, 189, 1) 0%, rgba(104, 203, 230, 1) 56%, rgba(169, 234, 252, 1) 82%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(to bottom, rgba(62, 162, 189, 1) 0%, rgba(104, 203, 230, 1) 56%, rgba(169, 234, 252, 1) 82%, rgba(255, 255, 255, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#3ea2bd', endColorstr='#ffffff', GradientType=0);
}


/*CLouds*/

.clouds img {
    float: right;
}

.clouds#cloud_big img {
    float: left;
}


/*Cloud Animation*/

.clouds {
    position: absolute;
    width: 3000px;
    display: block;
    animation: moving_clouds 20s infinite;
    animation-timing-function: linear;
}

@keyframes moving_clouds {
    from {
        right: -1400px;
    }
    to {
        right: 1400px;
    }
}

#bottomBrick {
    height: 20%;
    width: 5000px;
    background-image: url('../images/brick.png');
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: black;
}


/*MARIO*/

#mario img {
    width: 100px;
    height: auto;
    position: absolute;
    bottom: 20%;
} 

/*Background Nature*/

#bg_nature {
    width: 5000px;
    background-image: url('../images/bg_nature1.png');
    position: absolute;
    background-color: transparent;
    bottom: 20%;
    z-index: -2;
    height: 100px;
}
